
/*
Colors used:
Purple: #7513c9;
Green: #60a828;
Light Green: #a2d335;
Blue: #0c51a3;
Light Blue: #2680eb;
Black: #000000;
White: #FFFFFF;
Grey: #dddddd;
*/

* {
  box-sizing: border-box;
}

a {
  color: #7513c9;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #2680eb;
}

a:hover {
  color: #7513c9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #a2d335;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #60a828;
}


  body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  text-align: center;

}

h1, h2, h3, h4 {
  line-height: 1.4;
  text-align: center;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;

}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.socialicons img{
  width: 32px;
}

.socialicons li{
  display:inline
}

#img {
  width: 100%;
}

#img2{
        max-width: 50%;
        max-height: 100%;
        text-align: center;
        display: block; /* remove extra space below image */
    }


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #a2d335;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-delay: 0.2s;
}

.button2 {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #a2d335;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  background-color: #7513c9;
  color: #ffffff; /* needed to override the default link color */
  opacity: 0.8;
}


.button.contact:hover {
  background-color: #2680eb;
  color: #ffffff;
  opacity: 0.8;
}

.aboutimage img {
  width: 85%;
}

.pluto-play-sections img{
  width: 50%;
}

.portfolio {
  text-align: left;
}

#plutoback {
  background-color: #a2d335;
}

#plutobackwhite {
  background-color: #ffffff;
  padding: -100px;
}


#contactlinks {
  color: #a2d335;
}

#contactlinks2 {
  color: #a2d335;
}

#hero {
  background-color: #7513c9;
  color: white;
  padding: 40px 20px 20px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero span {
  display: block;
}

#work {
  background-color: #ffffff;
  color: black;
  padding: 40px;
  text-align: center;
}

#contact {
  background-color: #7513c9;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}

#bullets {
  padding: 20px 20px 20px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#bullets h3 {
  text-decoration: underline;
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 9px 9px 22px 0px rgba(50, 50, 50, 0.82);
  position: fixed;
  width: 100%;
}




/* Layout styling */

.container {
  padding: 0 15px;
}

.container2 {
  padding: 0px;
  margin: 0px;
}
.container3 {
  margin: 100px 100px 100px 100px
}

.container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.container5{
  justify-content: flex-end;
}

.container6 {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#plutoproject {
  padding: 20px 20px 0px 20px;
  solid #ffffff;
  text-align: center;
  image width: 100%
}

.logo {
  max-width: 300px;
  float:left;
}


nav > ul {
  list-style-type: none;
  padding: 0px;
  display: inline-block;

}

nav > ul > li {
  display: inline-block;

}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav > ul > li > a:visited { /* visited link */
  color: #2680eb;
}

nav > ul > li > a:hover {
  color: #7513c9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li > a:active { /* selected link */
  color: #60a828;
}

main {
  padding-top: 75px;
}


.skills-tools {
  text-align: left;
}

div > ul {
  list-style-type: none;
  padding: 0;

}



div > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

div > ul > li > a:visited { /* visited link */
  color: #2680eb;
}

div > ul > li > a:hover {
  color: #7513c9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

div > ul > li > a:active { /* selected link */
  color: #60a828;
}


  #shadow {
    box-shadow: 9px 9px 22px 0px rgba(50, 50, 50, 0.82);
  }


.padding {
  padding-left: 40px
}

.border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: auto;
  height: auto;
  border: 5px solid #a2d335;
  background: #f1f2f2;
  padding: 25px 25px;
}

.skills {
  background-color: #2680eb;
}

div > ul {
  list-style: none; /* Remove default bullets */
}

div > ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #7513c9; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px
  }

  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
  float: right;
  padding: 10px;
}

.col-md-5 {
width: 40%;
}
#about-page h3 { margin-top: 0;}
}




/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px
  }
  .col-lg-5 {
  width: 40%;
  }

.col-lg-7 {
width: 60%;
}
  [class*="col-"] {
  float: left;
  padding: 10px;
}
#about-page h3 { margin-top: 0;}
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
