
/*
Colors used:
Purple: #7513c9;
Green: #60a828;
Light Green: #a2d335;
Blue: #0c51a3;
Light Blue: #2680eb;
Black: #000000;
White: #FFFFFF;
Grey: #dddddd;
*/

* {
  box-sizing: border-box;
}

a {
  color: #7513c9;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #2680eb;
}

a:hover {
  color: #7513c9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #a2d335;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #60a828;
}


  body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

#img {
  width: 100%;
}

.img2 {
  max-width: 50%
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #a2d335;
    color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button2 {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #a2d335;
    color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  background-color: #7513c9;
  color: #ffffff; /* needed to override the default link color */
  text-decoration: none;
}


.button.contact:hover {
  background-color: #2680eb;
  color: #ffffff;
}

#contactlinks {
  color: #ffffff;
}

#hero {
  background-color: #7513c9;
  color: white;
  padding: 40px 20px 20px 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#work {
  background-color: #dddddd;
  color: black;
  padding: 40px;
  text-align: center;
}

#contact {
  background-color: #7513c9;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}



#mystory {
  padding: 20px 20px 20px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

#bullets {
  padding: 20px 20px 20px 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#bullets h3 {
  text-decoration: underline;
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 9px 9px 22px 0px rgba(50, 50, 50, 0.82);
  position: fixed;
  width: 100%;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.container2 {
  padding: 0px;
  margin: 0px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#plutoproject {
  padding: 20px 20px 20px 20px;
  solid #ffffff;
  text-align: center;
  image width: 100%
}

.logo {
  max-width: 200px;
}

nav > ul {
  list-style-type: none;
  padding: 0;

}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav > ul > li > a:visited { /* visited link */
  color: #2680eb;
}

nav > ul > li > a:hover {
  color: #7513c9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li > a:active { /* selected link */
  color: #60a828;
}

main {
  padding-top: 200px;
}

#social {
  list-style-type: none;
  display: inline-block;
  max-width: 40px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

  #shadow {
    box-shadow: 9px 9px 22px 0px rgba(50, 50, 50, 0.82);
  }

.padding {
  padding-left: 0px
}
